.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
  border: 0.3rem cadetblue solid;
}
.cardContainer > img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
}
.title {
  color: rgb(83, 78, 78);
  font-weight: 900;
}
.ratting {
  color: indianred;
  font-weight: 900;
  font-size: 1.5rem;
}
.ratting > span {
  font-weight: 700;
  font-size: 1rem;
}
.description {
  color: rgb(129, 122, 122);
}
